<!DOCTYPE html>
<html lang="en">
<head>
  {% block head %}
  <title>{% block title %}{% endblock title %}Bare shelf recipes</title>
  {% endblock head %}
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta charset="utf-8">
<style>
.missing-ingredient {
  text-decoration: line-through;
  color: red;
}
.search-ingredients li button {
  margin-top: -5px;
}
ol {
  padding-left: 0;
  padding-bottom: 15px;
}
ol li {
  float: left;
  margin-left: 25px;
}
</style>
</head>
<body>
  <div id="content" class="container">
    {% block content %}{% endblock content %}
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  {% block javascript %}{% endblock javascript %}
</body>
</html>
