{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block content %}

<div class="row notice-banner">
  <div class="col s12">
    <div class=card>
      <div class="card-content yellow">
        <p>
          This site is a work in progress.
          There is a lot that is broken and incomplete.
          If you have any comments please <a href="https://forms.gle/XGUidZp3G5vjVv8KA">submit your feedback</a>.
        </p>
      </div>
    </div>
  </div>
</div>


{% if flash %}
<div class=row>
  <div class="col s12">
    <div class="card">
      <div class="card-content yellow lighten-3">
        <span class=card-title>{{ flash }}</span>
      </div>
  </div>
</div>
{% endif %}

<div class="row">
  <div id=ingredients class="col s12 m4 l4 xl3">
    <h3>Ingredients</h3>
    <a class=quicklink href="#recipes">go to recipes</a>

    {{
      macros::ingredients_bucket(
        ingredients=ingredients,
        title="Ingredient",
        info="Add ingredients that you already have here",
        bucket="ingredients",
        redirect="/"
      )
    }}

  </div>

  <div id=recipes class="col s12 m8 l8 xl9">
    <h3>Recipes</h3>
    <a class=quicklink href="#ingredients">go to ingredients</a>
    {% if recipes %}
    {% for recipe in recipes %}
      {{ macros::recipe(recipe=recipe, redirect="/") }}
    {% endfor %}
    {% endif %}
  </div>
</div>
{% endblock content %}

{% block javascript %}
<script type=text/javascript>
  $(document).ready(function() {
    $('input.autocomplete').each(function() {
      let self = this;
      $(this).autocomplete({
        minLength: 2,
        onAutocomplete: function() {
          self.closest("form").submit();
        }
      });
      $(this).keyup(function () {
        if ($(self).val().length > 2) {
          $.ajax({
              url: '/api/ingredients',
              type: 'get',
              cache: false,
              data: {
                "term": $(self).val(),
                "bucket": $(self).closest("form").find("input[name='bucket']").val(),
              },
              success: function (data) {
                  let updateData = {};
                  data.forEach(function(val) {
                    updateData[val.name] = null;
                  });
                  $(self).autocomplete("updateData", updateData);
                  $(self).autocomplete("open");
              },
              error: function (err) {
                  console.log(err);
              }
          });
        }
      });
    });
  });
</script>
{% endblock javascript %}
