{% extends "base.html" %}

{% block content %}

<div class="row">
  <div class="col s3">
    <h3>My shelf</h3>
    <div class="card">
      <div class="card-content">
        <form action="/add-ingredient" method="post">
          <div class=input-field>
            <input class=autocomplete type=text name=ingredient id=add-ingredient>
            <label for=add-ingredient>Ingredient</label>

            <button class="btn waves-effect waves-light" type=submit name=action>
               add to shelf
            </button>
          </div>
        </form>
        <form action="/remove-ingredient" method=post>
        <ul class="collection search-ingredients">
          {% for ingredient in ingredients %}
          <li class="collection-item">
            {{ ingredient }}
            <button class="btn-floating btn-small waves-effect right" type=submit name=ingredient value={{ingredient}}>
              <i class="material-icons">remove</i>
            </button>
          </li>
          {% endfor %}
        </ul>
        </form>
      </div>
    </div>
  </div>

  <div class="col s9">
    <h3>Recipes</h3>
    {% for recipe in recipes %}
    <div class="card">
      <div class="card-content">
        <span class="card-title activator">{{ recipe.title }}</span>
        <p>{{ recipe.ingredients | length }} ingredients ({{ recipe.num_missing }} missing)</p>
        <ol>
          {% for ingredient in recipe.ingredients %}
            <li class="{% if ingredient.is_missing %}missing-ingredient{% endif %}">
              <p>{{ ingredient.slug }}</p>
            </li>
          {% endfor %}
        </ol>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}

{% block javascript %}
<script type=text/javascript>
  $(document).ready(function() {
    $('input.autocomplete').each(function() {
      let self = this;
      $(this).autocomplete({
        minLength: 2,
        onAutocomplete: function() {
          self.closest("form").submit();
        }
      });
      $(this).keyup(function () {
        console.log("input changed");
          $.ajax({
              url: '/ingredients',
              type: 'get',
              cache: false,
              data: {"term": $(self).val()},
              success: function (data) {
                  let updateData = {};
                  data.forEach(function(val) {
                    updateData[val.slug] = null;
                  });
                  $(self).autocomplete("updateData", updateData);
                  $(self).autocomplete("open");
              },
              error: function (err) {
                  console.log(err);
              }
          });
      });
    });
  });
</script>
{% endblock javascript %}
