{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block content %}

{% if flash %}
<div class=row>
  <div class="col s12">
    <div class="card">
      <div class="card-content yellow lighten-3">
        <span class=card-title>{{ flash }}</span>
      </div>
  </div>
</div>
{% endif %}

<div class="row">
  <div class="col s12 m4 l4 xl3">
    <h3>Ingredients</h3>
  </div>
</div>
<div class=row>
  <div class="col s12 m4 l4 xl3">
    <ul id=ingredients>
      <li><a class=quicklink href="#key_ingredients">go to key ingredients</a></li>
      <li><a class=quicklink href="#banned_ingredients">go to banned ingredients</a></li>
    </ul>

    {{
      macros::ingredients_bucket(
        ingredients=ingredients,
        title="Ingredient",
        info="Add ingredients that you already have here",
        bucket="ingredients",
        redirect="/ingredients"
      )
    }}
  </div>

  <div class="col s12 m4 l4 xl3">
    <ul id=key_ingredients>
      <li><a class=quicklink href="#ingredients">go to ingredients</a></li>
      <li><a class=quicklink href="#banned_ingredients">go to banned ingredients</a></li>
    </ul>
    {{
      macros::ingredients_bucket(
        ingredients=key_ingredients,
        title="Key ingredient",
        info="Add ingredients that definitely should appear",
        bucket="key_ingredients",
        redirect="/ingredients"
      )
    }}
  </div>

  <div class="col s12 m4 l4 xl3">
    <ul id=banned_ingredients>
      <li><a class=quicklink href="#ingredients">go to ingredients</a></li>
      <li><a class=quicklink href="#key_ingredients">go to key ingredients</a></li>
    </ul>
    {{
      macros::ingredients_bucket(
        ingredients=banned_ingredients,
        title="Banned ingredient",
        info="Add ingredients that definitely should not appear",
        bucket="banned_ingredients",
        redirect="/ingredients"
      )
    }}

  </div>

  <div class="col s12 m4 l4 xl3">
    <ul id=popular_ingredients>
      <li><a class=quicklink href="#ingredients">go to ingredients</a></li>
      <li><a class=quicklink href="#key_ingredients">go to key ingredients</a></li>
    </ul>
    <div class=card>
      <div class=card-content>
        <ul class="collection">
          {% for ingredient in popular_ingredients %}
            <li class=collection-item>
              <form action=/add-ingredient method=post>
                <input type=hidden name=ingredient value={{ingredient.0.slug}}>
                <input type=hidden name=redirect value=/ingredients>
                {{ ingredient.0.name }} ({{ ingredient.1 }})

                <button style="margin-top: -5px" class="btn-floating btn-small waves-effect right" type=submit name=bucket value=ingredients>
                  <i class="material-icons">add</i>
                </button>
                <!--
                <button class="btn-floating btn-small waves-effect right" type=submit name=bucket value=banned_ingredients>
                  <i class="material-icons">block</i>
                </button>
                -->
              </form>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block javascript %}
<script type=text/javascript>
  $(document).ready(function() {
    $('input.autocomplete').each(function() {
      let self = this;
      $(this).autocomplete({
        minLength: 2,
        onAutocomplete: function() {
          self.closest("form").submit();
        }
      });
      $(this).keyup(function () {
        if ($(self).val().length > 2) {
          $.ajax({
              url: '/api/ingredients',
              type: 'get',
              cache: false,
              data: {"term": $(self).val(), "bucket": $(self).closest("form").find("input[name='bucket']").val()},
              success: function (data) {
                  let updateData = {};
                  data.forEach(function(val) {
                    updateData[val.name] = null;
                  });
                  $(self).autocomplete("updateData", updateData);
                  $(self).autocomplete("open");
              },
              error: function (err) {
                  console.log(err);
              }
          });
        }
      });
    });
  });
</script>
{% endblock javascript %}
