{% extends "base.html" %}

{% block content %}

{% if flash %}
<div class=row>
  <div class="col s12">
    <div class="card">
      <div class="card-content yellow lighten-3">
        <span class=card-title>{{ flash }}</span>
      </div>
  </div>
</div>
{% endif %}

<div class="row">
  <div id=ingredients class="col s12 m4 l4 xl3">
    <h3>Ingredients</h3>
    <a class=quicklink href="#recipes">go to recipes</a>
    <div class="card">
      <div class="card-content">
        <form action="/add-ingredient" method="post">
          <input type=hidden name=bucket value=ingredients>
          <input type=hidden name=redirect value=/ui2>
          <div class=input-field>
            <input class=autocomplete type=text name=ingredient id=add-ingredient autocomplete=off>
            <label for=add-ingredient>Ingredient</label>
            <p>Add ingredients that you already have here</p>

            <button class="btn waves-effect waves-light" type=submit name=action>
               add to shelf
            </button>
          </div>
        </form>
        <form action="/remove-ingredient" method=post>
        <input type=hidden name=bucket value=ingredients>
          <input type=hidden name=redirect value=/ui2>
        <ul class="collection search-ingredients">
          {% for ingredient in ingredients %}
          <li class="collection-item">
            {{ ingredient.name }}
            <button class="btn-floating btn-small waves-effect right" type=submit name=ingredient value={{ingredient.slug}}>
              <i class="material-icons">remove</i>
            </button>
          </li>
          {% endfor %}
        </ul>
        </form>
      </div>
    </div>

    <div class="card">
      <div class="card-content">
        <form action="/add-ingredient" method="post">
          <input type=hidden name=bucket value=key_ingredients>
          <input type=hidden name=redirect value=/ui2>
          <div class=input-field>
            <input class=autocomplete type=text name=ingredient id=add-key_ingredient autocomplete=off>
            <label for=add-key_ingredient>Key ingredient</label>
            <p>Add ingredients that definitely should appear</p>

            <button class="btn waves-effect waves-light" type=submit name=action>
               add
            </button>
          </div>
        </form>
        <form action="/remove-ingredient" method=post>
        <input type=hidden name=bucket value=key_ingredients>
          <input type=hidden name=redirect value=/ui2>
        <ul class="collection search-ingredients">
          {% for ingredient in key_ingredients %}
          <li class="collection-item">
            {{ ingredient.name }}
            <button class="btn-floating btn-small waves-effect right" type=submit name=ingredient value={{ingredient.slug}}>
              <i class="material-icons">remove</i>
            </button>
          </li>
          {% endfor %}
        </ul>
        </form>
      </div>
    </div>

    <div class="card">
      <div class="card-content">
        <form action="/add-ingredient" method="post">
          <input type=hidden name=bucket value=banned_ingredients>
          <input type=hidden name=redirect value=/ui2>
          <div class=input-field>
            <input class=autocomplete type=text name=ingredient id=add-banned_ingredient autocomplete=off>
            <label for=add-banned_ingredient>Banned ingredient</label>
            <p>Add ingredients that definitely should not appear</p>

            <button class="btn waves-effect waves-light" type=submit name=action>
               add
            </button>
          </div>
        </form>
        <form action="/remove-ingredient" method=post>
        <input type=hidden name=bucket value=banned_ingredients>
          <input type=hidden name=redirect value=/ui2>
        <ul class="collection search-ingredients">
          {% for ingredient in banned_ingredients %}
          <li class="collection-item">
            {{ ingredient.name }}
            <button class="btn-floating btn-small waves-effect right" type=submit name=ingredient value={{ingredient.slug}}>
              <i class="material-icons">remove</i>
            </button>
          </li>
          {% endfor %}
        </ul>
        </form>
      </div>
    </div>

  </div>

  <div id=recipes class="col s12 m8 l8 xl9">
    <h3>Recipes</h3>
    <a class=quicklink href="#ingredients">go to ingredients</a>
    {% if recipes %}
    {% for recipe in recipes %}
    <div class="card">
      <div class="card-content">
        <div class="recipe-source grey-text text-darken-2">{{recipe.source}}</div>
        <span class="card-title">
          <a href="{{recipe.url}}">{{ recipe.title }}</a>
          {% if recipe.chef_name %}
            <span class="recipe-chef-name">by {{ recipe.chef_name }}</span>
          {% endif %}
        </span>


        {% if recipe.num_missing > 0 %}
        <div class=recipe-ingredients>
          <p style="float:left">You would need:</p>
          <ol>
            {% for ingredient in recipe.ingredients %}
            {% if ingredient.is_missing %}
            <li>{{ ingredient.name }}</li>
            {% endif %}{% endfor %}
          </ol>
        </div>
        {% else %}
        <p>You have everything you need for this recipe!</p>
        {% endif %}

        <div class=recipe-ingredients>
          <p style="float:left">{% if recipe.num_missing > 0 %}All ingredients{% else %}Ingredients {% endif %}:</p>
          <ol>
            {% for ingredient in recipe.ingredients %}
              <li class="{% if ingredient.is_missing %}missing-ingredient{% endif %}">
                <p>{{ ingredient.name }}</p>
              </li>
            {% endfor %}
          </ol>
        </div>
      </div>
    </div>
    {% endfor %}
    {% endif %}
  </div>
</div>
{% endblock content %}

{% block javascript %}
<script type=text/javascript>
  $(document).ready(function() {
    $('input.autocomplete').each(function() {
      let self = this;
      $(this).autocomplete({
        minLength: 2,
        onAutocomplete: function() {
          self.closest("form").submit();
        }
      });
      $(this).keyup(function () {
        console.log("input changed");
          $.ajax({
              url: '/ingredients',
              type: 'get',
              cache: false,
              data: {"term": $(self).val()},
              success: function (data) {
                  let updateData = {};
                  data.forEach(function(val) {
                    updateData[val.name] = null;
                  });
                  $(self).autocomplete("updateData", updateData);
                  $(self).autocomplete("open");
              },
              error: function (err) {
                  console.log(err);
              }
          });
      });
    });
  });
</script>
{% endblock javascript %}
